<a href="https://colab.research.google.com/github/dskimds/2nd-Prj/blob/master/PCA/pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PCA

In [1]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [2]:
# define dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=3, n_redundant=7,
random_state=1)

# summarize data before the transform
print(X[:3, :])

[[-0.53448246  0.93837451  0.38969914  0.0926655   1.70876508  1.14351305
  -1.47034214  0.11857673 -2.72241741  0.2953565 ]
 [-2.42280473 -1.02658758 -2.34792156 -0.82422408  0.59933419 -2.44832253
   0.39750207  2.0265065   1.83374105  0.72430365]
 [-1.83391794 -1.1946668  -0.73806871  1.50947233  1.78047734  0.58779205
  -2.78506977 -0.04163788 -1.25227833  0.99373587]]

In [5]:
X[0:3,:]

array([[-0.53448246,  0.93837451,  0.38969914,  0.0926655 ,  1.70876508,
         1.14351305, -1.47034214,  0.11857673, -2.72241741,  0.2953565 ],
       [-2.42280473, -1.02658758, -2.34792156, -0.82422408,  0.59933419,
        -2.44832253,  0.39750207,  2.0265065 ,  1.83374105,  0.72430365],
       [-1.83391794, -1.1946668 , -0.73806871,  1.50947233,  1.78047734,
         0.58779205, -2.78506977, -0.04163788, -1.25227833,  0.99373587]])

In [6]:
# define the transform
trans = PCA(n_components=5)

# transform the data
X_dim = trans.fit_transform(X)

# summarize data after the transform
print(X_dim[:3, :])

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00  1.88576972e-15
  -6.95675812e-16]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01 -4.82676488e-16
   2.30492030e-15]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01  2.03856686e-16
   7.06003478e-16]]

In [7]:
X_dim.shape

(1000, 5)

In [8]:
print(X_dim)

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00  1.88576972e-15
  -6.95675812e-16]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01 -4.82676488e-16
   2.30492030e-15]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01  2.03856686e-16
   7.06003478e-16]
 ...
 [ 3.45579288e+00 -6.49130724e-01 -6.98465393e-01  4.28390785e-17
  -3.41003550e-17]
 [ 4.32915522e+00 -3.00906405e-01 -1.99348645e+00 -5.14318604e-16
   5.88500195e-17]
 [-2.49808012e+00 -1.87944823e+00  4.47071779e-03 -6.37161673e-16
   2.73354369e-17]]

In [9]:
import pandas as pd

In [10]:
df_X = pd.DataFrame(X_dim)

In [11]:
type(df_X)

pandas.core.frame.DataFrame

In [12]:
df_X.corr().round()   # 10차원에서 5차원 축으로 바꿈

     0    1    2    3    4
0  1.0 -0.0  0.0  0.0 -0.0
1 -0.0  1.0 -0.0  0.0  0.0
2  0.0 -0.0  1.0 -0.0 -0.0
3  0.0  0.0 -0.0  1.0 -0.0
4 -0.0  0.0 -0.0 -0.0  1.0

In [ ]:
df_X.describe().round()

In [ ]:
df_X_org = pd.DataFrame(X)

In [ ]:
df_X_org.describe().round()

In [ ]:
X_dim.shape

In [ ]:
print("\nFirstprincipal axis :", trans.components_[0])

print("Second principal axis", trans.components_[1])

print("Third principal axis", trans.components_[2])

In [ ]:
print(trans.explained_variance_ratio_)